.App {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  font-family: "Gill Sans", sans-serif;
}

body {
  background-image: url(https://wallpaperaccess.com/full/1076309.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
}

input {
  width: 40%;
  padding: 12px 20px;
  margin: 0 auto;
  margin-top: 10px;

  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  border: #4c4c4c;
  color: #fff;
  font-size: 18px;
}
input[type="submit"]:hover {
  background-color: #45a030;
  cursor: pointer;
}
input:focus {
  outline: none;
}
